<div *ngIf="this.player.name ; else nameInput">
  <span class="name">{{this.player.name}}</span>
</div>

<ng-template #nameInput>
  <div>
    <label for="name-input">Enter name:</label>
    <input #nameText type="text" id="name-input" placeholder="Anonymous Heisler"
      (input)="this.limitToAlphaCharacters($event)" (keyup.enter)="this.postNewPlayer(nameText.value)">
    <button id="submitButton" class="heisldice-button btn btn-dark" [disabled]="!nameText.value"
      (click)="this.postNewPlayer(nameText.value)">Submit</button>
  </div>
</ng-template>

<ng-template #areYouSure let-category='category'>
  <tr (click)="setScore(category)" (mouseenter)="noop($event)" (mouseleave)="noop($event)" class="clickable">
    <td class="categories danger">Are you sure?</td>
    <td class="scores danger">0</td>
    <td *ngFor="let opponent of this.opponents" class="scores">{{this.getOpponentScore(opponent, category)}}</td>
  </tr>
</ng-template>

<ng-template #regularCategory let-category='category'>
  <tr (click)="setScore(category)" (mouseenter)="setHoveredScore($event, category)"
    (mouseleave)="resetHoveredScore($event, category)" class="clickable">
    <td class="categories">{{category.description}}</td>
    <td class="scores">{{category.scoreAsString}}</td>
    <td *ngFor="let opponent of this.opponents" class="scores">{{this.getOpponentScore(opponent, category)}}</td>
  </tr>
</ng-template>

<table>
  <tr>
    <th class="header-categories">Categories</th>
    <th>{{this.player.name}}</th>
    <th *ngFor="let opponent of this.opponents">{{opponent.name}}</th>
  </tr>
  <ng-container *ngFor="let category of getScorecard().getTopSection()"
    [ngTemplateOutlet]='category.inDangerZeroScore ? areYouSure : regularCategory'
    [ngTemplateOutletContext]='{category:category}'>
  </ng-container>
  <tr>
    <td class="bonus-total-description">Bonus for Top Section (Score 63 or over)</td>
    <td *ngIf="this.shouldShowTotals" class="bonus-total-score">
      {{getScorecard().topSectionBonus}}</td>
    <td *ngFor="let opponent of this.opponents" class="bonus-total-score">{{opponent.scorecard.topSectionBonus}}</td>
  </tr>
  <tr>
    <td class="bonus-total-description">Total for Top Section</td>
    <td *ngIf="this.shouldShowTotals" class="bonus-total-score">{{getScorecard().topSectionTotal}}</td>
    <td *ngFor="let opponent of this.opponents" class="bonus-total-score">{{opponent.scorecard.topSectionTotal}}</td>
  </tr>
  <ng-container *ngFor="let category of getScorecard().getBottomSection()"
    [ngTemplateOutlet]='category.inDangerZeroScore ? areYouSure : regularCategory'
    [ngTemplateOutletContext]='{category:category}'>
  </ng-container>
  <tr>
    <td class="bonus-total-description">Extra Yahtzee Bonus (100 each)</td>
    <td *ngIf="this.shouldShowTotals" class="bonus-total-score">{{getScorecard().extraYahtzeeBonusTotal}}</td>
    <td *ngFor="let opponent of this.opponents" class="bonus-total-score">{{opponent.scorecard.extraYahtzeeBonusTotal}}
    </td>
  </tr>
  <tr>
    <td class="bonus-total-description">Total for Bottom Section</td>
    <td *ngIf="this.shouldShowTotals" class="bonus-total-score">{{getScorecard().bottomSectionTotal}}</td>
    <td *ngFor="let opponent of this.opponents" class="bonus-total-score">{{opponent.scorecard.bottomSectionTotal}}</td>
  </tr>
  <tr>
    <td class="grand-total-description">Grand Total</td>
    <td class="grand-total-score">{{getScorecard().total}}</td>
    <td *ngFor="let opponent of this.opponents" class="grand-total-score">
      {{opponent.scorecard.total}}
    </td>
  </tr>
</table>