label {
  margin-right: 0.5rem;
}

.potentialScore {
  color: rgb(255, 153, 0);
}

.red {
  color: red;
}

.danger {
  background-color: lightpink;
  color: black;
  font-weight: bold;
}

span {
  margin: 20px;
}

span.name {
  font-size: 2rem;
}

table{
  background-color: white;
}

table ::selection {
  color: black;
  background: white;
}

table td{
  white-space: nowrap;
}
table td:last-child{
  width:100%;
}

table > caption {
  color: black;
  caption-side: top;
}

table, tr, td {
  border: 1px solid black;
}

tr.clickable, td.clickable {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

td {
  padding: 5px;
  min-width: 48px;
}

th {
  text-align: center;
  border-style: solid;
  border-width: 1px;
  font-weight: normal;
  padding: 4px;
}

th.header-categories {
  text-align: left;
  padding-left: 15px;
}

td.categories {
  padding-left: 15px;
  text-align: left;
}

td.bonus-total-description {
  font-size: 0.8rem;
}

td.bonus-total-score {
  text-align: center;
  font-size: 0.8rem;
  line-height: 0.8;
}

td.scores {
  width: 0;
  text-align: center;
  line-height: 0.8;
}

td.grand-total-description{
  font-size: 1.5rem;
}

td.grand-total-score{
  text-align: center;
  font-size: 1.5rem;
}
