<label for="color-picker">Click the dice to choose your dice color<input type="color" name="color-picker"
        id="color-picker" [ngModel]="this.selectedColor" (change)="this.colorSelected($event.target.value)"
        (input)="this.previewColor($event.target.value)">
    <preview-dice [color]="this.selectedColor"></preview-dice>
</label>