<div class="container" [style.border-width]="this.player?.myTurn ? '2px' : null"
    [style.border-color]="this.player?.myTurn ? this.color : null">
    <div class="row name-row">
        <span>{{this.player?.name}}</span>
    </div>
    <div class="row dice-row">
        <div *ngFor="let dieModel of this.dieModels" class="dice-div">
            <die-svg-icon [die]="dieModel" [color]="this.color" [canReserve]="false">
            </die-svg-icon>
        </div>
    </div>
</div>