.row {
    margin-left: 0;
    margin-right: 0;
}

.dice-row{
  width: 100%;
}

.name-row{
  padding-left: 8px;
  text-align: left;
}

.container {
  border-style: solid;
  border-radius: 8px;
  border-color: transparent;
  padding: 0;
  padding: 8px 12px;
  margin-bottom: 8px;
}

.dice-div {
  flex: 0, 0, 20%;
  max-width: 20%;
  padding: 0;
}