.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: gray;
    z-index: 10000000000;
    opacity: 50%;
}

.overlay-message {
    position: fixed;
    width: 50vw;
    left: 25vw;
    height: 20vh;
    top: 40vh;
    background-color: white;
    border-radius: 16px;
    z-index: 10000000001;
    font-size: xx-large;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    padding: 20px;
}

.overlay-message > p {
    width: 50vw;
}