div {
  padding: 0;
}

@media (max-width: 991px) {
  img {
  width: 100vw;
  max-height: 50vh;
  }

  .full-image {
    display: none;
  }
}
@media (min-width: 992px) {
  img {
  width: 100%;
  height: 100vh;
  }

  .short-image {
    display: none;
  }
}

img{
  object-fit: cover
}