<div class="row">
  <disconnected-overlay *ngIf="this.disconnectedFromWebsocket"></disconnected-overlay>
  <div class="col-lg-8 col-md-6 col-xl-6 col-sm-5 scorecard">
    <scorecard [player]="this.player" [scorecard]="this.scorecard" [potentialScorecard]="this.potentialScorecard"
      [currentDice]="this.currentDice" (playerUpdated)="this.playerUpdated($event)" [game]="this.game">
    </scorecard>
  </div>
  <div class="col-lg-4 col-md-6 col-xl-6 col-sm-7" id="dice-container">
    <all-dice [players]="this.game.players" [gameID]="game.gameID" [mainPlayer]="player"
      (playerUpdated)="this.playerUpdated($event)" (potentialScorecardUpdated)="this.potentialScorecardUpdated($event)"
      (diceUpdated)="this.diceUpdated($event)">
    </all-dice>
  </div>
</div>