<div class="row">
    <div class="col-12 col-lg-4">
        <h1>Heisldice!</h1>
    </div>
    <div class="col-12 col-lg-4">
        <p *ngIf="this.gameID" class="align-center">Game ID: {{ this.gameID }}</p>
    </div>
    <div class="col-12 col-lg-4 align-right">
        <button (click)="this.toggleSettings()" class="heisldice-button" id="settings-button">Settings</button>
    </div>
</div>
<div class="row" *ngIf="this.settingsIsOpen">
    <div class="col-lg-6">
        <heisldice-settings></heisldice-settings>
    </div>
    <div class="col-lg-6">
        <button (click)="this.closeSettings()" class="heisldice-button" id="close-settings-button">Close
            Settings</button>
    </div>
</div>