div.row {
    padding: 0 15px;
}

p {
    font-size: xx-large;
}

#settings-button {
    padding: 0 18px;
    font-size: x-large;
}

#close-settings-button {
    width: 95%;
    height: 95%;
    font-size: 64px;
}

@media (max-width: 991px) {
    .col-lg-4 {
        text-align: left;
    }
}

@media (min-width: 992px) {
    #close-settings-button {
        width: 60%;
        height: 30%;
        margin-top: 15%;
        margin-left: 20%;
    }
}