<button disabled id="new-game-button" type="button" class="heisldice-button btn btn-dark" (click)="newLobby()">
    New Lobby
</button>

<label for="lobby-input">Enter a Lobby ID</label>
<input type="text" id="lobby-input" [(ngModel)]="this.lobbyID">
<button disabled id="join-game-button" type="button" class="heisldice-button btn btn-dark" (click)="joinLobby()">
    Join Lobby
</button>