<div class="row">
    <div class="col-xl-6 col-lg-12">
        <dice [player]='this.mainPlayer' [gameID]='this.gameID' (playerUpdated)="this.emitPlayer($event)"
            (potentialScorecardUpdated)="this.emitPotentialScorecard($event)" (diceUpdated)="this.emitDice($event)">
        </dice>
    </div>
</div>
<div *ngFor="let player of leftColumn; let index = index" class="row align-items-center col-12">
    <div class="col-xl-6 col-lg-12">
        <opponent-dice [player]="leftColumn[index]" [color]="leftColors[index]"></opponent-dice>
    </div>
    <div *ngIf="rightColumn[index]" class="col-xl-6 col-lg-12">
        <opponent-dice [player]="rightColumn[index]" [color]="rightColors[index]"></opponent-dice>
    </div>
</div>