<div class="container" [style.border-width]="this.player?.myTurn ? '2px' : 0"
  [style.border-color]="this.player?.myTurn ? this.playerDiceColor : null">
  <div class="row dice-row">
    <div class="row just-the-dice">
      <div class="col-5" *ngFor="let dieModel of dice">
        <die-svg-icon [die]="dieModel" [color]="this.diceColor" [canReserve]="this.player.rollsRemaining !== 3">
        </die-svg-icon>
      </div>
    </div>
  </div>
  <div class="row align-items-center button-row">
    <button type="button" class="heisldice-button btn btn-dark" (click)="this.rollDice()"
      [hidden]="this.buttonShouldBeHidden()" [disabled]="this.buttonShouldBeDisabled()">Roll 'em!
    </button>
    <button *ngIf="_environment.debug" type="button" class="heisldice-button btn btn-dark" id="yahtzee-button"
      (click)="this.setDiceToYahtzee()">Yahtzee!
    </button>
  </div>
</div>