die {
  margin: 6px;
  cursor: pointer;
}

.align-items-center {
  margin-right: 0;
  margin-left: 0;
}

.just-the-dice{
  width: 100%;
}

.container {
  border-style: solid;
  border-radius: 8px;
  border-color: transparent;
  border-width: 0;
  padding: 8px 12px;
  margin-bottom: 16px;
}

.dice-row{
  justify-content: center;
  padding: 0;
  width: 100%;
  margin: 0;
}

.button-row{
  padding-left: 8px;
  text-align: left;
}

.col-5 {
  flex: 0, 0, 20%;
  max-width: 20%;
  padding: 0;
}