div{
  margin: 0%;
  text-align: left;
}
#text{
  padding: 0 48px;
}

h1 {
  width: 100%;
  text-align: left;
  padding: 2rem 48px;
  color: #40281b;
}

p {
  margin: 2rem 0;
  color: #40281b;
}

a {
  color: #266b99;
  text-decoration: underline;
}
a:visited {
  color: #596b77;
}
a:hover {
  color: #3086bf;
}