<h1>Ryan Heisler</h1>
<div class="row">
  <div id="text" class="col-12">
    <p>
      I am a software developer in Ann Arbor, Michigan, USA.
    </p>
    <p>
      Software developers have a responsibility to help people in their community.
      I have organized a group of developers to build a mobile app for the <a
        href="http://www.washtenawid.com/">Washtenaw County ID Project</a>
      so members of my community who rely on the county ID can find the businesses and services that accept and support
      the ID.
    </p>
    <p>
      You can see my public work on <a href="https://bitbucket.org/ryanaheisler/">Bitbucket</a> and my resume on <a
        href="https://www.linkedin.com/in/ryan-heisler/">LinkedIn</a>.
    </p>
    <p>
      Get in touch with me! <a href="mailto:info@ryanheisler.com">info@ryanheisler.com</a>
    </p>
    <p>
      While you're here, stay a while and play <a href="/heisldice">Heisldice</a>, the hottest online implementation of
      the dice game Yahtzee you've ever played! You can play alone or invite your friends to join you.
    </p>
  </div>
</div>