<p>Please fill out the form below to choose a color for your dice. You only have to fill out a hex color, or a color
    name, or red, green,
    and blue color values.</p>
<p>You can use <a href="https://www.google.com/search?q=color+picker" target="_blank">Google's Color Picker</a> to
    choose a color. It will give you the Hex value of your color under "HEX" starting with "#". You can enter it with or
    without the "#".</p>
<p>Google's Color picker will also show you your color's RGB values under "RGB", which are 3 numbers between 0 and 255.
    Enter the numbers in the Red, Green, and Blue fields in the order they appear in Google.</p>
<p>You can find a list of color names on <a href="https://en.wikipedia.org/wiki/Web_colors#Extended_colors"
        target="_blank">Wikipedia</a>. Enter the color's
    name with or without spaces or capital letters.</p>
<p>The dice below show a preview of your selected color.</p>
<preview-dice [color]="this.selectedColor"></preview-dice>
<form action="#" (submit)="this.submitDiceColor()" autocomplete="off">
    <div class="row">
        <div class="col-lg-6 no-pad">
            <label id="hex-color-input-label" for="hex-color-input">Hex color:</label>
            <input id="hex-color-input" (input)="hexInput($event.target.value)" [value]="this.selectedColor"
                placeholder="e.g. #7D9BAA" data-lpignore="true">
        </div>
        <div class="col-lg-6 no-pad">
            <label id="named-color-input-label" for="named-color-input">Color Name:</label>
            <input id="named-color-input" (input)="namedColorInput($event.target.value)"
                [value]="this.selectedColorName" placeholder="e.g. Dark Cyan" data-lpignore="true">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 no-pad">
            <label id="rgb-color-input-red-label" for="rgb-color-input-red">Red:</label>
            <input id="rgb-color-input-red" (input)="rgbInput($event.target.value, 'red')"
                [value]="this.selectedColorRed" placeholder="0-255" inputmode="numeric" data-lpignore="true">
        </div>
        <div class="col-lg-4 no-pad">
            <label id="rgb-color-input-green-label" for="rgb-color-input-green">Green:</label>
            <input id="rgb-color-input-green" (input)="rgbInput($event.target.value, 'green')"
                [value]="this.selectedColorGreen" placeholder="0-255" inputmode="numeric" data-lpignore="true">
        </div>
        <div class="col-lg-4 no-pad">
            <label id="rgb-color-input-blue-label" for="rgb-color-input-blue">Blue:</label>
            <input id="rgb-color-input-blue" (input)="rgbInput($event.target.value, 'blue')"
                [value]="this.selectedColorBlue" placeholder="0-255" inputmode="numeric" data-lpignore="true">
        </div>
    </div>
    <div class="row">

    </div>
    <div class="align-center">
        <input id="submit-dice-color" type="submit" value="Save Color" class="heisldice-button">
    </div>
</form>