p {
    padding: 0 16px;
}

form {
    margin: 1rem 0;
    padding: 0 16px;
}

label {
    margin: 0.5rem;
    font-weight: bold;
}

.row {
    margin: 2rem 0;
}

.align-center {
    align-content: center;
}

.heisldice-button {
    height: 2.5rem;
    padding: 0 32px;
}