<div class="vertical-center justify-content-center" id="container">
  <div class="row">
    <div class="col-12 text-center">
      <button id="new-game-button" type="button" class="heisldice-button btn btn-dark" (click)="newGame()">New
        Game</button>
    </div>
    <div class="col-12 text-center">
      <input type="text" id="join-game-input" placeholder="Enter a Game ID" [(ngModel)]="this.joinGameID">
      <button id="join-game-button" type="button" class="heisldice-button btn btn-dark" (click)="joinGame()">Join
        Game</button>
    </div>
  </div>
</div>