/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

.heisldice-button {
  margin: 6px;
  background-color: #656565;
  border-color: #656565;
  color: white;
  border-radius: 8px;
}

.heisldice-button:disabled {
  background-color: #9ca1a6;
  border-color: #9ca1a6;
}

.no-scroll-reload {
  overscroll-behavior: none;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.no-pad {
  padding: 0;
}

.row {
  margin: 0
}