.row {
  margin: 0%;
  width: 100%;
  height: 100vh;
  background-color: #ede8e6;
}

@media (max-width: 991px) {
  .row {
    flex-direction: column;
  }
  main-photo {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .row {
    flex-direction: column;
  }
  main-photo {
    width: 50%;
  }
}


main-photo {
  padding: 0%;
  height: max-content;
}

main-text {
  padding: 0%;
}