<h2>Settings</h2>
<dice-color-settings *ngIf="colorInputSupported; else fallbackColorSettings"></dice-color-settings>

<ng-template #fallbackColorSettings>
    <fallback-dice-color-settings></fallback-dice-color-settings>
</ng-template>